<div class="bg-gray-100 w-full mx-auto p-1 ml-2 mr-2">
    <div class="relative bg-card h-64 border-t-gray-400 border-4 shadow-xl">
        <div class="pl-8">
            <div class="h-8 bg-gray-400 rounded-b-lg w-26 items-center pt-1">
                <div class="flex items-center justify-center">
                    <mat-icon svgIcon="feather:git-pull-request"
                              class="icon-size-5 ml-auto white-icon"></mat-icon>
                    <div class="ml-1.5 leading-5 mr-auto text-white">
                        {{'FLOWABLE.WORK.TITLE.PROCESS' | transloco}}
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 pt-2">
            <div class="pl-8 pt-4">
                <div class="text-4xl tracking-tight leading-none">
                    {{(instance.name ?? instance.processDefinitionName)| transloco}}
                </div>
                <div class="text-sm">
                    {{instance.processDefinitionDescription | transloco}}
                </div>
            </div>
            <div class="justify-items-end">
                <div class="w-80 ml-auto grid grid-cols-1 gap-y-1.5">
                    <div class="pl-2 space-x-0.5 flex items-center justify-items-end">
                        <mat-icon svgIcon="heroicons_solid:calendar"></mat-icon>
                        <div class="ml-1.5 leading-5 mr-auto">
                            {{'FLOWABLE.WORK.CREATED_IN' | transloco}}
                        </div>
                        <div class="ml-1.5 leading-5 mr-auto">
                            {{instance.started | timeAgo}}
                        </div>
                    </div>
                    <div class="pl-2 space-x-0.5 flex items-center justify-items-end">
                        <mat-icon svgIcon="heroicons_solid:user"></mat-icon>
                        <div class="ml-1.5 leading-5 mr-auto">
                            {{'FLOWABLE.WORK.STARTED_BY' | transloco}}
                        </div>
                        <div class="ml-1.5 leading-5 mr-auto">
                            {{instance.startedBy?.fullName}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="absolute inset-x-0 bottom-0 ">
            <div class="bg-gray-200 h-16 w-full">
                <div class="pt-3 grid justify-items-end">
                    <div class="flex space-x-1.5">
                        <div>
                            <button (click)="$event.stopPropagation()"
                                    mat-icon-button
                                    class="mr-2"
                                    type="button">
                                <mat-icon svgIcon="more_vert"></mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-8 bg-card shadow-xl">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon svgIcon="assignment"
                              class="icon-size-5 ml-auto mr-1"></mat-icon>
                    {{'FLOWABLE.WORK.OPEN_TASKS' | transloco}}
                </ng-template>
                <flw-sub-items [processInstanceId]="instance.id" [activeTasks]="true"></flw-sub-items>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon svgIcon="assignment"
                              class="icon-size-5 ml-auto mr-1"></mat-icon>
                    {{'FLOWABLE.WORK.WORK_FORM' | transloco}}
                </ng-template>
                <mat-formio *ngIf="instance.startFormDefined" [form]="form"
                            [renderOptions]="{readOnly: true}" [submission]=""></mat-formio>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon svgIcon="heroicons_solid:user"
                              class="icon-size-5 ml-auto mr-1"></mat-icon>
                    {{'FLOWABLE.WORK.PEOPLE' | transloco}}
                </ng-template>
                <flw-people [processInstanceId]="instance.id" [readonly]="!!instance.ended"></flw-people>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon svgIcon="heroicons_outline:chat-bubble-left-right"
                              class="icon-size-5 ml-auto mr-1"></mat-icon>
                    {{'FLOWABLE.WORK.COMMENTS' | transloco}}
                </ng-template>
                <div class="">
                    <flw-comments [readOnly]="!!instance.ended"
                                  [processInstanceId]="instance.id">
                    </flw-comments>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon svgIcon="format_list_bulleted"
                              class="icon-size-5 ml-auto mr-1"></mat-icon>
                    {{'FLOWABLE.WORK.SUB_ITEMS' | transloco}}
                </ng-template>
                <flw-sub-items [processInstanceId]="instance.id"></flw-sub-items>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon svgIcon="heroicons_outline:document"
                              class="icon-size-5 ml-auto mr-1"></mat-icon>
                    {{'FLOWABLE.WORK.DOCUMENTS' | transloco}}
                </ng-template>
                <flw-documents [processInstanceId]="instance.id" [readonly]="!!instance.ended"></flw-documents>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon svgIcon="heroicons_outline:shield-check"
                              class="icon-size-5 ml-auto mr-1"></mat-icon>
                    {{'FLOWABLE.WORK.AUDIT_TRAIL' | transloco}}
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon svgIcon="history"
                              class="icon-size-5 ml-auto mr-1"></mat-icon>
                    {{'FLOWABLE.WORK.HISTORY' | transloco}}
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
