.app {
    .theme-1 {
        .app-background {
            background-color: #269abc;
        }

        .icon {
            color: #269abc;
        }

        .icon svg {
            fill: #269abc;
        }
        .app-border {
            border-color: #269abc;
        }
    }
    .theme-2 {
        .app-background {
            background-color: #7da9b0;
        }

        .icon {
            color: #7da9b0;
        }

        .icon svg {
            fill: #7da9b0;
        }
        .app-border {
            border-color: #7da9b0;
        }
    }
    .theme-3 {
        .app-background {
            background-color: #66799b;
        }

        .icon {
            color: #66799b;
        }

        .icon svg {
            fill: #66799b;
        }
        .app-border {
            border-color: #66799b;
        }
    }
    .theme-4 {
        .app-background {
            background-color: #c74e3e;
        }

        .icon {
            color: #c74e3e;
        }

        .icon svg {
            fill: #c74e3e;
        }
        .app-border {
            border-color: #c74e3e;
        }
    }
    .theme-5 {
        .app-background {
            background-color: #fab96c;
        }

        .icon {
            color: #fab96c;
        }

        .icon svg {
            fill: #fab96c;
        }
        .app-border {
            border-color: #fab96c;
        }
    }
    .theme-6 {
        .app-background {
            background-color: #759d4c;
        }

        .icon {
            color: #759d4c;
        }

        .icon svg {
            fill: #759d4c;
        }
        .app-border {
            border-color: #759d4c;
        }
    }
    .theme-7 {
        .app-background {
            background-color: #b1b489;
        }

        .icon {
            color: #b1b489;
        }

        .icon svg {
            fill: #b1b489;
        }
        .app-border {
            border-color: #b1b489;
        }
    }
    .theme-8 {
        .app-background {
            background-color: #a17299;
        }

        .icon {
            color: #a17299;
        }

        .icon svg {
            fill: #a17299;
        }
        .app-border {
            border-color: #a17299;
        }
    }
    .theme-9 {
        .app-background {
            background-color: #595c57;
        }

        .icon {
            color: #595c57;
        }

        .icon svg {
            fill: #595c57;
        }
        .app-border {
            border-color: #595c57;
        }
    }
    .theme-10 {
        .app-background {
            background-color: #baab23;
        }

        .icon {
            color: #baab23;
        }

        .icon svg {
            fill: #baab23;
        }
        .app-border {
            border-color: #baab23;
        }
    }
}

