<div class="bg-gray-100 w-full mx-auto p-1 ml-2 mr-2">
    <div class="relative bg-card h-72 border-t-gray-400 border-4 shadow-xl">
        <div class="pl-8">
            <div class="h-8 bg-gray-400 rounded-b-lg w-26 items-center pt-1">
                <div class="flex items-center justify-center">
                    <mat-icon svgIcon="feather:briefcase"
                              class="icon-size-5 ml-auto white-icon"></mat-icon>
                    <div class="ml-1.5 leading-5 mr-auto text-white">
                        {{'FLOWABLE.WORK.TITLE.CASE' | transloco}}
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 pt-2">
            <div class="pl-8 pt-4">
                <div class="text-4xl tracking-tight leading-none">
                    {{instance.name | transloco}}
                </div>
            </div>
            <div class="justify-items-end">
                <div class="w-80 ml-auto grid grid-cols-1 gap-y-1.5">
                    <div class="pl-2 space-x-0.5 flex items-center justify-items-end">
                        <mat-icon svgIcon="heroicons_solid:calendar"></mat-icon>
                        <div class="ml-1.5 leading-5 mr-auto">
                            {{'FLOWABLE.CASE.STARTED_IN' | transloco}}
                        </div>
                        <div class="ml-1.5 leading-5 mr-auto">
                            {{instance.started | timeAgo}}
                        </div>
                    </div>
                    <div class="pl-2 space-x-0.5 flex items-center justify-items-end">
                        <mat-icon svgIcon="heroicons_solid:user"></mat-icon>
                        <div class="ml-1.5 leading-5 mr-auto">
                            {{'FLOWABLE.CASE.STARTED_BY' | transloco}}
                        </div>
                        <div class="ml-1.5 leading-5 mr-auto">
                            {{instance.startedBy?.fullName}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full">
            <mat-stepper labelPosition="end" #stepper>
                <mat-step>
                    <ng-template matStepLabel>Stage 1</ng-template>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Stage 2</ng-template>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Done</ng-template>
                </mat-step>
            </mat-stepper>
        </div>
        <div class="absolute inset-x-0 bottom-0 ">
            <div class="bg-gray-200 h-16 w-full">
                <div class="pt-3 grid justify-items-end">
                    <div class="flex space-x-1.5">
                        <button mat-raised-button>Terminate</button>
                        <ng-container *ngFor="let item of enabledPlanItems">
                            <button mat-raised-button (click)="startPlanItem(item)">
                                <mat-icon svgIcon="mat_outline:play_arrow"></mat-icon>
                                {{item.name | transloco}}
                            </button>
                        </ng-container>
                        <div>
                            <button (click)="$event.stopPropagation()"
                                    mat-icon-button
                                    class="mr-2"
                                    type="button">
                                <mat-icon svgIcon="more_vert"></mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-8 bg-card shadow-xl">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon svgIcon="assignment"
                              class="icon-size-5 ml-auto mr-1"></mat-icon>
                    {{'FLOWABLE.CASE.OPEN_TASKS' | transloco}}
                </ng-template>
                <flw-sub-items [caseInstanceId]="instance.id" [activeTasks]="true"></flw-sub-items>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon svgIcon="assignment"
                              class="icon-size-5 ml-auto mr-1"></mat-icon>
                    {{'FLOWABLE.CASE.WORK_FORM' | transloco}}
                </ng-template>
                <mat-formio *ngIf="instance.startFormDefined" [form]="form"
                            [renderOptions]="{readOnly: true}" [submission]="submission"></mat-formio>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon svgIcon="heroicons_solid:user"
                              class="icon-size-5 ml-auto mr-1"></mat-icon>
                    {{'FLOWABLE.CASE.PEOPLE' | transloco}}
                </ng-template>
                <flw-people [caseInstanceId]="instance.id" [readonly]="!!instance.ended"></flw-people>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon svgIcon="format_list_bulleted"
                              class="icon-size-5 ml-auto mr-1"></mat-icon>
                    {{'FLOWABLE.WORK.SUB_ITEMS' | transloco}}
                </ng-template>
                <flw-sub-items [caseInstanceId]="instance.id"></flw-sub-items>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon svgIcon="heroicons_outline:document"
                              class="icon-size-5 ml-auto mr-1"></mat-icon>
                    {{'FLOWABLE.WORK.DOCUMENTS' | transloco}}
                </ng-template>
                <flw-documents [caseInstanceId]="instance.id" [readonly]="!!instance.ended"></flw-documents>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon svgIcon="heroicons_outline:shield-check"
                              class="icon-size-5 ml-auto mr-1"></mat-icon>
                    {{'FLOWABLE.WORK.AUDIT_TRAIL' | transloco}}
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon svgIcon="history"
                              class="icon-size-5 ml-auto mr-1"></mat-icon>
                    {{'FLOWABLE.WORK.HISTORY' | transloco}}
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
