<mat-formio-form-field [instance]="instance" [componentTemplate]="componentTemplate" [labelTemplate]="labelTemplate">
</mat-formio-form-field>
<ng-template #componentTemplate let-hasLabel>
    <div class="rounded ring-1 ring-primary-100 ring-inset p-3">
  <span class="flex flex-col w-full h-full gap-1">
    <ng-container *ngIf="hasLabel">
      <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
    </ng-container>
    <mat-accordion>
      <mat-expansion-panel *ngIf="header" disabled="true">
        <mat-expansion-panel-header>
          <span #header class="w-full"></span>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel *ngFor="let row of instance.editRows; index as i;" [expanded]="instance.isOpen(row)">
        <mat-expansion-panel-header (click)="editRow(row, i)">
          <span *ngIf="row.state !== RowStates.NEW" #rows class="w-full"></span>
        </mat-expansion-panel-header>

        <mat-formio [form]="instance.component" #forms (change)="validate(i)"></mat-formio>

        <div class="flex gap-1 justify-end">
          <button mat-raised-button color="primary" [disabled]="!valid" (click)="saveRow(row, i)">{{'CORE.BUTTONS.SAVE' | transloco}}</button>
          <button mat-raised-button color="accent" (click)="cancelRow(i)">{{'CORE.BUTTONS.CANCEL' | transloco}}</button>
            <button
                class="w-8 h-8 min-h-8"
                mat-icon-button
                (click)="instance.removeRow(i)"
                matTooltip="{{'CORE.BUTTONS.DELETE' | transloco}}">
                                                        <mat-icon
                                                            color="warn"
                                                            class="icon-size-5"
                                                            [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                                    </button>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="footer" disabled="true">
        <mat-expansion-panel-header>
          <span #footer></span>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>

    <span class="w-0 pt-2" *ngIf="instance.hasAddButton()">
      <button mat-raised-button color="primary" (click)="addAnother()">
        <mat-icon>add</mat-icon> Add Another
      </button>
    </span>
  </span>
    </div>
</ng-template>

<ng-template #labelTemplate>
    <mat-card-title>
        <span [instance]="instance" matFormioLabel></span>
    </mat-card-title>
</ng-template>
