<!-- Button -->
<button
    [matMenuTriggerFor]="userActions"
    mat-icon-button>
    <span class="relative">
        @if (showAvatar && user?.imageUrl) {
            <img
                [src]="user.imageUrl"
                class="w-7 h-7 rounded-full">
        }
        @if (!showAvatar || !user?.imageUrl) {
            <mat-icon
                [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
        }
    </span>
</button>
<mat-menu
    #userActions="matMenu"
    [xPosition]="'before'">
    <button mat-menu-item>
        <span class="flex flex-col leading-none">
            <span>{{ 'ACCESS.MANAGEMENT.ACCOUNT.SIGNED_IN_AS' | transloco }}</span>
            <span class="mt-1.5 text-md font-medium">{{ user?.email }}</span>
        </span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item
            [routerLink]="['/account-settings']">
        <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
        <span>{{ 'ACCESS.MANAGEMENT.ACCOUNT.PROFILE' | transloco }}</span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button
        (click)="signOut()"
        mat-menu-item>
        <mat-icon [svgIcon]="'mat_outline:logout'"></mat-icon>
        <span>{{ 'ACCESS.MANAGEMENT.ACCOUNT.SIGN_OUT' | transloco }}</span>
    </button>
</mat-menu>
