<div class="flex flex-col p-4">
    <fuse-alert
        *ngIf="showAlert"
        [appearance]="'outline'"
        [showIcon]="false"
        [type]="'error'">
        {{'FLOWABLE.TASK.FORM_KEY_EXISTS' | transloco}}
    </fuse-alert>
    <mat-form-field>
        <mat-label>{{'FLOWABLE.TASK.FORM_DEFINITION' | transloco}}</mat-label>
        <input type="text" [formControl]="input" matInput [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.name}}
            </mat-option>
        </mat-autocomplete>
        <span matIconSuffix [matTooltip]="'FLOWABLE.TASK.ATTACH_FORM' | transloco">
                    <mat-icon *ngIf="!file" (click)="click(upload)">add</mat-icon>
                    <mat-icon *ngIf="file" (click)="click(upload)">attachment</mat-icon>
                </span>
    </mat-form-field>
    <form [formGroup]="formGroup">
        <div class="flex flex-col md:flex-row">
            <div class="w-full md:w-2/3">
                <div class="mt-8">
                    <mat-form-field
                        class="w-full"
                        [subscriptSizing]="'dynamic'">
                        <mat-label>{{'FLOWABLE.TASK.NAME' | transloco}}</mat-label>
                        <input
                            matInput
                            required
                            [formControlName]="'name'"
                            [spellcheck]="false">
                        <mat-error
                            *ngIf="formGroup.controls['name'].hasError('required')">
                            {{'FLOWABLE.TASK.NAME_REQUIRED' | transloco }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="w-full md:w-1/3">
                <div class="mt-8">
                    <mat-form-field
                        class="w-full"
                        [subscriptSizing]="'dynamic'">
                        <mat-label>{{'FLOWABLE.TASK.ASSIGNEE' | transloco}}</mat-label>
                        <input type="text" [formControl]="userInput" matInput [matAutocomplete]="auto1">
                        <mat-autocomplete #auto1="matAutocomplete" [displayWith]="userDisplayFn">
                            <mat-option *ngFor="let option of userFilteredOptions | async" [value]="option">
                                {{option.fullName}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <!--<div class="w-full md:w-1/3">
                <div class="mt-8">
                    <mat-form-field
                        class="w-full"
                        [subscriptSizing]="'dynamic'">
                        <mat-label>{{'FLOWABLE.TASK.DUE_DATE' | transloco}}</mat-label>
                        <input matInput [matDatepicker]="date"
                               formControlName="dueDate"
                               [min]="today">
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="date">
                        </mat-datepicker-toggle>
                        <mat-datepicker #date></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>-->
        </div>
        <div class="mt-8">
            <mat-label>{{'FLOWABLE.TASK.DESCRIPTION' | transloco}}</mat-label>
            <td-text-editor class="pt-2" [formControlName]="'description'"></td-text-editor>
        </div>
        <div class="flex flex-row justify-end pt-4 gap-x-2.5">
            <button (click)="saveTask()"
                    mat-raised-button
                    [disabled]="!formGroup.valid"
                    color="primary">
                {{'FLOWABLE.TASK.SAVE_SUBTASK' | transloco}}
            </button>

            <button (click)="cancelTask()"
                    *ngIf="!embedded"
                    mat-raised-button>
                {{'CORE.BUTTONS.CANCEL' | transloco}}
            </button>
        </div>
    </form>
</div>

<input #upload type='file' class="hidden" accept=".json,.form"
       (change)="attachForm($event)"/>
